<nav class="bg-primary-500 border-gray-200 px-6 shadow-md">
  <div class="flex flex-wrap justify-between items-center">
    <div class="flex items-center">
      <a routerLink="">
        <img
          loading="lazy"
          class="w-28 mr-8"
          src="/assets/images/logo/my-kanban-logo.png"
          alt="logo-gradient-white-trello"
        />
      </a>
      <div class="flex items-center">
        <ul class="flex items-center space-x-8 text-sm font-medium">
          <li>
            <a routerLink="/boards" class="block py-3 px-4 text-white"> Workspaces </a>
          </li>
          <li>
            <a routerLink="/board" class="block py-3 px-4 text-white"> Recent </a>
          </li>
          <li>
            <app-btn typeBtn="button" [color]="'primary'">Create</app-btn>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center gap-x-2">
      <button class="text-white" type="button">
        <fa-icon [icon]="faBell"></fa-icon>
      </button>
      <button class="text-white" type="button">
        <fa-icon [icon]="faInfoCirle"></fa-icon>
      </button>
      <button
        type="button"
        class="flex rounded-full"
        aria-expanded="false"
        (click)="isOpen = !isOpen"
        cdkOverlayOrigin
        #menuOverlay="cdkOverlayOrigin"
      >
        <img
          class="w-8 h-8 rounded-full"
          src="https://img.freepik.com/foto-gratis/mujer-hermosa-joven-mirando-camara-chica-moda-verano-casual-camiseta-blanca-pantalones-cortos-hembra-positiva-muestra-emociones-faciales-modelo-divertido-aislado-amarillo_158538-15796.jpg?t=st=1721338147~exp=1721341747~hmac=a0c2ddeb82d8b0e3029240d9c4bf0f257b0a895aeee5a083ffbdf990ff8cc96c&w=826"
          alt="user photo"
        />
      </button>
    </div>
  </div>
</nav>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="menuOverlay"
  [cdkConnectedOverlayOpen]="isOpen"
  (overlayOutsideClick)="isOpen = !isOpen"
>
  <div
    class="z-50 my-4 w-60 text-base list-none bg-white rounded divide-y divide-gray-100 shadow"
  >
    <div class="py-3 px-4 flex justify-between">
      <span class="block text-sm text-center text-gray-900">Account</span>
      <button (click)="isOpen = !isOpen" class="block text-sm text-gray-900">
        <span class="sr-only">Close</span>
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
      </button>
    </div>
    <div class="py-3 px-4 flex items-center space-x-4">
      <img
        class="w-10 h-10 rounded-full"
        src="https://img.freepik.com/foto-gratis/mujer-hermosa-joven-mirando-camara-chica-moda-verano-casual-camiseta-blanca-pantalones-cortos-hembra-positiva-muestra-emociones-faciales-modelo-divertido-aislado-amarillo_158538-15796.jpg?t=st=1721338147~exp=1721341747~hmac=a0c2ddeb82d8b0e3029240d9c4bf0f257b0a895aeee5a083ffbdf990ff8cc96c&w=826"
        alt=""
      />
      <div class="space-y-1">
        <div>Jese Leos</div>
        <div class="text-sm text-gray-500">nico&#64;gmail.com</div>
      </div>
    </div>
    <ul class="py-1">
      <li>
        <a
          routerLink="/profile"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Profile</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Activity</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Cards</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Settings</a
        >
      </li>
    </ul>
    <ul class="py-1">
      <li>
        <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">Log out</a>
      </li>
    </ul>
  </div>
</ng-template>

